venv/
recop.it/notebooks
recop.it/src/scripts/ingest/.ipynb*
recop.it/src/scripts/modeling/.ipynb*
recop.it/src/scripts/preparation/.ipynb*
recop.it/data/raw
mlruns
recop.it/src/scripts/ingest/__pycache__/
